In [ ]:
# Connecting the Python Code with the google drive
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [48]:
import pandas as pd
file_path = '/content/drive/MyDrive/Colab Notebooks/assignments/titanic_train.csv'
titanic_df = pd.read_csv(file_path)
print(titanic_df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [ ]:
schema = titanic_df.dtypes
print(schema)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
first_10_rows = titanic_df.head(10)
print(first_10_rows)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [ ]:
summary_statistics = titanic_df.describe(include='all')
missing_data = titanic_df.isnull().sum()
print(summary_statistics)

        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   714.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked
count       889
unique        3
top           S
freq        644
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

In [ ]:
print(missing_data)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
string_columns = ['Sex', 'Cabin', 'Embarked']
most_frequent_values = {}
for col in string_columns:
    most_frequent_values[col] = titanic_df[col].value_counts().head(10)
print(most_frequent_values)

{'Sex': male      577
female    314
Name: Sex, dtype: int64, 'Cabin': B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
F2             3
E101           3
D              3
C78            2
C93            2
Name: Cabin, dtype: int64, 'Embarked': S    644
C    168
Q     77
Name: Embarked, dtype: int64}

In [49]:
# Convert numerical columns' data type to float64
numerical_cols = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
for col in numerical_cols:
    titanic_df[col] = titanic_df[col].astype('float64')

# Handle missing values in the Age column
mean_age = titanic_df['Age'].mean()
titanic_df['Age'] = titanic_df['Age'].fillna(mean_age)

# Create a new variable 'AgeNA' to indicate whether the age value is missing
titanic_df['AgeNA'] = titanic_df['Age'].isnull().astype(int)

# Recheck if there are still any missing values in the Age column
missing_after = titanic_df['Age'].isnull().sum()

# Print the first few rows after the changes to verify
print(titanic_df.head())

# Recalculate summary statistics
new_summary_statistics = titanic_df.describe(include='all')

   PassengerId  Survived  Pclass  \
0            1         0     3.0
1            2         1     1.0
2            3         1     3.0
3            4         1     1.0
4            5         0     3.0

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0    1.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
2                             Heikkinen, Miss. Laina  female  26.0    0.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
4                           Allen, Mr. William Henry    male  35.0    0.0

   Parch            Ticket     Fare Cabin Embarked  AgeNA
0    0.0         A/5 21171   7.2500   NaN        S      0
1    0.0          PC 17599  71.2833   C85        C      0
2    0.0  STON/O2. 3101282   7.9250   NaN        S      0
3    0.0            113803  53.1000  C123        S      0
4    0.0            373450   8.0500   NaN        S      0

In [20]:
print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0            1         0     3.0
1            2         1     1.0
2            3         1     3.0
3            4         1     1.0
4            5         0     3.0

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0    1.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
2                             Heikkinen, Miss. Laina  female  26.0    0.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
4                           Allen, Mr. William Henry    male  35.0    0.0

   Parch            Ticket     Fare Cabin Embarked  AgeNA
0    0.0         A/5 21171   7.2500   NaN        S      0
1    0.0          PC 17599  71.2833   C85        C      0
2    0.0  STON/O2. 3101282   7.9250   NaN        S      0
3    0.0            113803  53.1000  C123        S      0
4    0.0            373450   8.0500   NaN        S      0

In [21]:
print(new_summary_statistics)

        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   891.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      13.002015    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      22.000000    0.000000    0.000000     NaN    7.910400      NaN
50%      29.699118    0.000000    0.000000     NaN   14.454200      NaN
75%      35.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked  AgeNA
count       889  891.0
unique        3    NaN
top           S    NaN
freq        644    NaN
mean        NaN    0.0
std         NaN    0.0
min         NaN    0.0
25%         NaN    0.0
50%         NaN    0.0
75%         NaN    0.0
max         NaN    0.0

In [2]:
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession

#initialized SparkSession
spark = SparkSession.builder \
    .appName("Titanic Data Preparation") \
    .getOrCreate()

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=5120c4f4fa9007fe2364912a46f2142cbe191228ffbb9bde8460a87d7f1d9419
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder

In [50]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml import Pipeline

df = spark.read.csv("/content/drive/MyDrive/Colab Notebooks/assignments/titanic_train.csv", header=True, inferSchema=True)
# List of categorical columns
categoricalColumns = ['Sex', 'Embarked']

indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(df) for column in categoricalColumns]
encoders = [OneHotEncoder(inputCol=indexer.getOutputCol(), outputCol=indexer.getOutputCol()+"_vec") for indexer in indexers]

# 'Sex' column
sex_indexer = StringIndexer(inputCol="Sex", outputCol="Sex_index").fit(df)
sex_encoder = OneHotEncoder(inputCols=["Sex_index"], outputCols=["Sex_vec"])

# 'Embarked' column
embarked_indexer = StringIndexer(inputCol="Embarked", outputCol="Embarked_index").fit(df)
embarked_encoder = OneHotEncoder(inputCols=["Embarked_index"], outputCols=["Embarked_vec"])

pipeline = Pipeline(stages=indexers + encoders)
model = pipeline.fit(df)
transformed_df = model.transform(df)

In [51]:
print(sex_encoder,sex_indexer)
print(embarked_encoder,embarked_indexer)

OneHotEncoder_56cfea72414b StringIndexerModel: uid=StringIndexer_e9f7cc0183ed, handleInvalid=error
OneHotEncoder_592f934bc4b1 StringIndexerModel: uid=StringIndexer_62ea26eea11c, handleInvalid=error

In [53]:
# Create StringIndexer and OneHotEncoder for the 'Sex' and 'Embarked' columns
sex_indexer = StringIndexer(inputCol="Sex", outputCol="SexIndex", handleInvalid="keep")
sex_encoder = OneHotEncoder(inputCol="SexIndex", outputCol="SexVec", handleInvalid="keep")

embarked_indexer = StringIndexer(inputCol="Embarked", outputCol="EmbarkedIndex", handleInvalid="keep")
embarked_encoder = OneHotEncoder(inputCol="EmbarkedIndex", outputCol="EmbarkedVec", handleInvalid="keep")

# Create a VectorAssembler to combine feature columns
assembler = VectorAssembler(
    inputCols=["Pclass", "SexVec", "Age", "SibSp", "Parch", "Fare", "EmbarkedVec"],
    outputCol="features",
    handleInvalid="skip"
)

# Create a Pipeline that includes all of the above steps
pipeline = Pipeline(stages=[sex_indexer, sex_encoder, embarked_indexer, embarked_encoder, assembler])

# Apply the Pipeline to the DataFrame
pipeline_model = pipeline.fit(df)
transformed_df = pipeline_model.transform(df)

In [28]:
print(assembler)
print(pipeline)
print(pipeline_model)
print(transformed_df)

VectorAssembler_eb744e7468f8
Pipeline_46e0d26f14f1
PipelineModel_2dc1fc73b673
DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string, SexIndex: double, SexVec: vector, EmbarkedIndex: double, EmbarkedVec: vector, features: vector]

In [54]:
from pyspark.ml.classification import LogisticRegression

# Create an instance of the logistic regression model
lr = LogisticRegression(featuresCol="features", labelCol="Survived")

# Update the Pipeline to include the logistic regression model
pipeline = Pipeline(stages=[sex_indexer, sex_encoder, embarked_indexer, embarked_encoder, assembler, lr])

# Apply the Pipeline to the DataFrame for model training
pipeline_model = pipeline.fit(df)

# Use the trained model to make predictions
predictions = pipeline_model.transform(df)

# View a portion of the prediction results
predictions.select("features", "Survived", "probability", "prediction").show()

+--------------------+--------+--------------------+----------+
|            features|Survived|         probability|prediction|
+--------------------+--------+--------------------+----------+
|(12,[0,1,4,5,7,8]...|       0|[0.90941912330380...|       0.0|
|(12,[0,2,4,5,7,9]...|       1|[0.07380262078749...|       1.0|
|(12,[0,2,4,7,8],[...|       1|[0.37222396267341...|       1.0|
|(12,[0,2,4,5,7,8]...|       1|[0.09686964420185...|       1.0|
|(12,[0,1,4,7,8],[...|       0|[0.92454446927233...|       0.0|
|(12,[0,1,4,7,8],[...|       0|[0.70436804344687...|       0.0|
|[3.0,1.0,0.0,0.0,...|       0|[0.90082813049837...|       0.0|
|(12,[0,2,4,6,7,8]...|       1|[0.41013906409640...|       1.0|
|(12,[0,2,4,5,7,9]...|       1|[0.09014704295809...|       1.0|
|[3.0,0.0,1.0,0.0,...|       1|[0.25626572604341...|       1.0|
|(12,[0,2,4,7,8],[...|       1|[0.17355307704571...|       1.0|
|(12,[0,1,4,7,8],[...|       0|[0.86477269918949...|       0.0|
|[3.0,1.0,0.0,0.0,...|       0|[0.96478614886384...|       0.0|
|(12,[0,2,4,7,8],[...|       0|[0.26061301778893...|       1.0|
|(12,[0,2,4,7,8],[...|       1|[0.38311437873963...|       1.0|
|[3.0,1.0,0.0,0.0,...|       0|[0.95168442257120...|       0.0|
|(12,[0,2,4,5,7,8]...|       0|[0.51070991473307...|       0.0|
|(12,[0,1,4,7,8],[...|       0|[0.78258793402926...|       0.0|
|(12,[0,1,4,7,8],[...|       1|[0.77834937903408...|       0.0|
|(12,[0,2,4,7,10],...|       1|[0.35954263853781...|       1.0|
+--------------------+--------+--------------------+----------+
only showing top 20 rows

In [38]:
(trainingData, testData) = df.randomSplit([0.7, 0.3])

In [43]:
training_size = trainingData.count()
test_size = testData.count()
print(f"Training set size: {training_size}")
print(f"Test set size: {test_size}")

Training set size: 624
Test set size: 267

In [56]:
# Fit the model on the training dataset
model = pipeline.fit(trainingData)

In [57]:
# Make predictions on the test set
predictions = model.transform(testData)

# View prediction results
predictions.select("features", "Survived", "probability", "prediction").show()

+--------------------+--------+--------------------+----------+
|            features|Survived|         probability|prediction|
+--------------------+--------+--------------------+----------+
|(12,[0,2,4,5,7,8]...|       1|[0.09187761047570...|       1.0|
|(12,[0,1,4,7,8],[...|       0|[0.91945127566286...|       0.0|
|(12,[0,2,4,6,7,8]...|       1|[0.38224332739250...|       1.0|
|[3.0,0.0,1.0,0.0,...|       1|[0.21385399760460...|       1.0|
|(12,[0,2,4,7,8],[...|       0|[0.20209333156575...|       1.0|
|(12,[0,2,4,7,8],[...|       1|[0.37531440907857...|       1.0|
|(12,[0,1,4,7,8],[...|       1|[0.43311644821723...|       1.0|
|[3.0,0.0,1.0,0.0,...|       1|[0.70105596775986...|       0.0|
|(12,[0,2,4,5,7,9]...|       1|[0.23943011909766...|       1.0|
|(12,[0,2,4,5,7,8]...|       0|[0.32180328986084...|       1.0|
|(12,[0,2,4,5,7,8]...|       1|[0.20373779726344...|       1.0|
|(12,[0,1,4,6,7,9]...|       0|[0.79661393938637...|       0.0|
|(12,[0,2,4,7,8],[...|       1|[0.10250174526724...|       1.0|
|(12,[0,1,4,7,9],[...|       0|[0.86783346392413...|       0.0|
|[2.0,0.0,1.0,0.0,...|       1|[0.09182528927029...|       1.0|
|[3.0,1.0,0.0,0.0,...|       0|[0.97587681891731...|       0.0|
|(12,[0,1,4,7,9],[...|       0|[0.82649848792544...|       0.0|
|[3.0,0.0,1.0,0.0,...|       1|[0.70919020092570...|       0.0|
|(12,[0,1,4,7,8],[...|       0|[0.75866433071373...|       0.0|
|(12,[0,1,4,7,8],[...|       0|[0.59653635149875...|       0.0|
+--------------------+--------+--------------------+----------+
only showing top 20 rows

In [46]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Create an evaluator for binary classification, which defaults to measuring the AUC
evaluator = BinaryClassificationEvaluator(rawPredictionCol="rawPrediction", labelCol="Survived", metricName="areaUnderROC")

# Compute the AUC on the predictions DataFrame
auc = evaluator.evaluate(predictions)

print(f"AUC: {auc}")

AUC: 0.8491095625241971